{% extends 'base.html' %}
{% block title %} Página Inicial - Gerenciador de Portifólio {% endblock %}
{% load static %}
{% block content %}

{% include 'header.html' %}
<section class="container py-5">
  <div class="row align-center">
    <div class="col-lg-6">
      <h1 class="display-5 lh-1 mb-3">Gerencie seu portifólio</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-outline">Saber mais</button>
      </div>
    </div>
    <div class="col-lg-6 mt-3">
      <img src="{% static 'images/banner.svg' %}" class="d-block mx-lg-auto img-fluid" alt="" width="400" height="400"
        loading="lazy">
    </div>
  </div>
</section>

<section class="container py-5">
  <div class="row align-center">
    <div class="col-lg-6 mt-3" >
      <img src="{% static 'images/telas.svg' %}" class="d-block mx-lg-auto img-fluid" alt="" width="400" height="400"
        loading="lazy">
    </div>
    <div class="col-lg-6">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-outline">Saber mais</button>
      </div>
    </div>
  </div>
</section>

<section class="container py-5">
  <div class="row align-center">
    <div class="col-lg-6">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-outline">Saber mais</button>
      </div>
    </div>
    <div class="col-lg-6 mt-3" >
      <img src="{% static 'images/contato.svg' %}" class="d-block mx-lg-auto img-fluid" alt="" width="400" height="400"
        loading="lazy">
    </div>

  </div>
</section>

{% include 'footer.html' %}
{% endblock %}